<header>
	<%= image_tag("books.jpg", :alt => "Sample App", :class => "round", :size => "70x70")%>
	<nav class ="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</header>